
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #222222;

}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0 ;
    width: 100%;
}

h1{
    font-size: 3rem;
    text-align: center;
    color: white;
}

.btn-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.btn-wraper button{
    margin-right: 1rem;
  border-radius: 5px;
    font-size: 1.3rem;
    background-color: #202B33;
    color: white;
    border: 0;
    padding: 1rem;

}
.btn-wraper button:hover{
    background-color: rgb(98, 107, 125);
}

.countdown , .stopwatch{
    padding-top: 10px;
    position: relative;

    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 20px;
    width: 400px;
    background-color:#161B1F;
    box-shadow: 0 3px 6px rgb(12 12 12);
}

.cross{
    position: absolute;
    right: -6px;
    top: -10px;
    font-size: 1.5rem;
    font-weight:550;
    cursor: pointer;
    color: #ffffff;
}
h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.countdown-label{
    font-size: 1.3rem;
    margin: 0.8rem 0;
    color: white;
    text-align: center;
}
.countdown-display{
    margin: 1rem 0;
}

.countdown-display button{
    margin: 0 1rem;
    border: solid 1px transparent;
    border-radius: 2px;
    padding: 3px 16px;
    color: #ffffff;
    font-size: 1rem;
    background-color: #202b33;
    
    
}
.button-start{
    margin-left: 40%;
    
}

.countdown-time{
    margin: 0.3rem 0;
    font-size: 2rem;
    color: white;
    text-align: center;

}
.stopwatch-display{
    padding: 2rem 0;
    font-size: 3rem;
    color: white;
    margin-left: 30px;
}
.stopwatch button{
    background-color: #202b33;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.6rem 1.7rem;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 15px 5px 0 38%;
    cursor: pointer;
    

}
.timer-arrow{
     text-align: center;
     margin-bottom: 10px;
}